<div class="container">

  <div class="row">
    <div class="col-12 m-3">
        <h1>All our Flats</h1>
        <p>All <%= @flats.length %> flats. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <% @flats.each do |flat| %>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="<%= flat.image %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
            <div class="d-flex">
              <p class="card-text mr-3"><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
              <p class="card-text"><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <%= link_to "More info", flat_path(flat.id)%>
              <%= link_to "Edit", edit_flat_path(flat.id)%>
              <%= link_to "Remove", flat_path(flat.id), method: :delete, data: { confirm: "Are you sure?" }%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
