<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8bc397bd5c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<%# navbar %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex mb-5">
    <div class="mr-auto p-2">
      <span class="navbar-brand"><%= link_to "Simple Airbnb",  flats_path  %></span>
    </div>
    <div class="p-2">

      <%= simple_form_for :search, url: flats_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :keyword, input_html: {value: "Search yourgit flat!"} %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>

    </div>

    <div class="p-2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "Add flat",  new_flat_path  %></button>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
